.title {
  font-weight: bold;
  font-size: 20px;
}

.operate button {
  width: 80px;
  height: 35px;
  background-color: rgb(232, 85, 89);
  color: #ffffff;
  border-radius: 5px;
  border: none;
  float: right;
}
