.group {
  width: 900px;
  height: 900px;
  background-color: #ededed;
}

.title {
  font-weight: bold;
  font-size: 20px;
  float: left;
}

.operate button {
  width: 130px;
  height: 35px;
  background-color: rgb(232, 85, 89);
  color: #ffffff;
  border: none;
  float: right;
}

.list {
  width: 900px;
  height: 800px;
  padding-top: 25px;
  float: left;
}

.divideGroup {
  margin: 0 auto;
  width: 800px;
  height: 85px;
  border: 0.5px solid rgb(146, 155, 170);
  margin-top: 20px;
}

.groupTitle {
  height: 30px;
  line-height: 30px;
  background-color: rgb(146, 155, 170);
  color: white;
}

.groupContent {
  height: 55px;
  line-height: 55px;
}

.member {
  width: 110px;
  height: 35px;
  line-height: 35px;
  background-color: lightgrey;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
/* TODO GTB-知识点： 颜色建议使用_variables里面的变量*/
